.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerLogo {
  max-width: 300px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  font-size: 2rem;
}

.sectionTagline {
  font-size: 1.25rem;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.sectionPrimary {
  background-image: linear-gradient(90deg, rgb(188, 78, 156), rgb(248, 7, 89));
}

html[data-theme='dark'] .sectionPrimary {
  background-image: linear-gradient(
    90deg,
    rgb(253, 200, 48),
    rgb(243, 115, 53)
  );
}

.sectionPrimaryTitle {
  color: var(--ifm-color-gray-0);
}

.quote {
  font-size: 1.1rem;
}
