@tailwind base;
@tailwind components;
@tailwind utilities;

[class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 8px;
  background: transparent;
  overflow-x: auto;
}

pre span {
  user-select: text;
}

html.figma-dark .shiki,
html.figma-dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
