@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  min-height: 100vh;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

.container {
  min-height: 100vh;
  padding: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section {
  background: linear-gradient(176.17deg, #f9fafb 0.94%, #edf0f3 316.54%);
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 104px 12px;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
  grid-row-gap: 48px;
}

.hero-section__content,
.hero-section__banner {
  grid-column: span 4 / span 4;
}

.hero-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.hero-section__content__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-section__content__header__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #171717;
}

.hero-section__content__header__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #525252;
}

.hero-section__content__actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  height: 48px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  border: none;
  outline: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.btn:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}
.btn:disabled {
  pointer-events: none;
  background: #f5f5f5;
  color: #a3a3a3;
  box-shadow: none;
}
.hero-section__content__actions__btn {
  flex: 1 1 0%;
}
.btn--primary {
  background: #4338ca;
  color: #ffffff;
}
.btn--primary:hover,
.btn--primary:focus {
  background: #3730a3;
}

.btn--secondary {
  background: #ffffff;
  border: 0.5px solid #e6e6e6;
  color: #0a0a0a;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
}
.btn--secondary:hover,
.btn--secondary:focus {
  background: #fafafa;
  border: 1px solid #e6e6e6;
}

.hero-section__banner {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 91px 16px;

    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-row-gap: 32px;
  }

  .hero-section__content,
  .hero-section__banner {
    grid-column: span 6 / span 6;
  }

  .hero-section__content {
    gap: 64px;
  }

  .hero-section__content__header {
    gap: 24px;
  }

  .hero-section__content__header__title {
    font-size: 48px;
    line-height: 48px;
  }

  .hero-section__content__header__subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .hero-section__content__actions {
    justify-content: flex-start;
    gap: 32px;
  }

  .btn {
    height: 60px;
    font-size: 18px;
    line-height: 28px;
  }
  .hero-section__content__actions__btn {
    width: 213px;
    flex: none;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section {
    padding: 105px 96px;

    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .hero-section__content {
    grid-column: span 5 / span 5;
  }

  .hero-section__banner {
    grid-column: span 7 / span 7;
  }

  .hero-section__content__header__title {
    font-size: 60px;
    line-height: 60px;
  }

  .hero-section__content__actions__btn {
    width: 175.5px;
    flex: none;
  }
}
