@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  min-height: 100vh;
  padding: 16px;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  margin: 0 auto;
}

/* Link styles */
.link {
  outline: none;
  color: #4338ca;
  text-decoration: none;
  padding: 0px 2px;
  line-height: 24px;
}
.link:hover {
  color: #3730a3;
}
.link:focus {
  color: #3730a3;
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
  border-radius: 4px;
}
.link:disabled {
  pointer-events: none;
  color: #a3a3a3;
}

/* Button styles */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  background: none;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  width: 100%;
}
.button:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* Size classes */
.button--size-md {
  height: 40px;
  column-gap: 6px;
  padding: 10px 14px;

  font-size: 14px;
  line-height: 20px;
}
.button--secondary.button--size-md {
  padding: 9px 13px;
}

.button--size-lg {
  height: 44px;
  column-gap: 8px;
  padding: 10px 16px;

  font-size: 16px;
  line-height: 24px;
}
.button--secondary.button--size-lg {
  padding: 9px 15px;
}

.button--size-xl {
  height: 48px;
  column-gap: 8px;
  padding: 12px 20px;

  font-size: 16px;
  line-height: 24px;
}
.button--secondary.button--size-xl {
  padding: 11px 19px;
}

.button--size-2xl {
  height: 60px;
  column-gap: 12px;
  padding: 16px 24px;

  font-size: 18px;
  line-height: 28px;
}
.button--secondary.button--size-2xl {
  padding: 15px 23px;
}

/* button variants */
.button--primary {
  background: #4338ca;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #ffffff;
}
.button--primary:hover,
.button--primary:focus {
  background: #3730a3;
}
.button--primary:disabled,
.button--secondary:disabled {
  background: #f5f5f5;
  box-shadow: none;
  color: #a3a3a3;
  pointer-events: none;
}

.button--secondary {
  border: 0.5px solid #e6e6e6;
  background: #ffffff;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #171717;
}
.button--secondary:hover,
.button--secondary:focus {
  background: #fafafa;
  border: 1px solid #e6e6e6;
  color: #0a0a0a;
}
.button--secondary:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* Navbar styles */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 68px;
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 16px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.navbar__logo {
  height: 32px;
  width: 163px;
}

.navbar__mobile__header__logo {
  height: 32px;
}

.navbar__btn--open,
.navbar__btn--close {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  background: none;
}
.navbar__btn--open svg,
.navbar__btn--close svg {
  display: block;
}
.navbar__btn--open:focus,
.navbar__btn--close:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.navbar__content {
  flex: 1;
  display: none;
  align-items: center;
  gap: 80px;
}

.navbar__content__links {
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex: 1;
}

.navbar__content__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#slideout-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1070;
  top: 0;
  bottom: 0;
  background-color: #fff;
  overflow-x: hidden;
  transform: translateX(calc(-100% - 16px));
  transition: transform 0.3s ease-in-out;
  padding: 32px 16px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}
#slideout-menu.open {
  transform: translateX(calc(0px - 16px));
}

.nav__mobile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__mobile__header__logo {
  height: 32px;
  width: auto;
}

.link--nav {
  font-size: 14px;
  line-height: 20px;
  color: #171717;
  padding: 8px 12px;
  width: 100%;
}

.link--nav-primary {
  color: #525252;
  font-weight: 500;
}

.link--nav-primary:hover,
.link--nav-primary:focus {
  color: #171717;
}

.button--navbar-learn,
.button--navbar-pricing {
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1408px;
  margin-top: 84px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

/* Hero section styles */
.hero {
  padding: 48px 12px;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
  grid-row-gap: 48px;
}

.hero__content,
.hero__banner {
  grid-column: span 4 / span 4;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.hero__content__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__content__header__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #171717;
}

.hero__content__header__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #525252;
}

.hero__content__actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hero__content__actions__btn {
  flex: 1 1 0%;
}

.button--size-xl-2xl {
  height: 48px;
  padding: 12px 20px;

  font-size: 16px;
  line-height: 24px;
}
.button--secondary.button--size-xl-2xl {
  padding: 11px 19px;
}

.hero__banner {
  width: 100%;
}

/* Stats styles */
.stats {
  padding: 48px 16px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__supporting-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4338ca;
}

.header__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__content__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #171717;
}

.header__content__subtitle {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #525252;
}

.stats__wrapper {
  display: grid;
  gap: 32px;
  grid-row-gap: 48px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
}

.stats__banner {
  height: 311px;
  width: auto;
  object-fit: cover;
  grid-column: span 4 / span 4;
}

.stats__content {
  grid-column: span 4 / span 4;
  width: 100%;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stats__content__title {
  font-size: 18px;
  line-height: 28px;
  color: #525252;
}

.stats__content__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.stats__content__items__card {
  width: 100%;
  padding: 23px 0px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #525252;
}

.stats__content__items__card__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4338ca;
}

/* Team styles */
.team {
  padding: 48px 16px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.team__members {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
  grid-row-gap: 48px;
}

.team__members__member {
  display: flex;
  flex-direction: column;
  gap: 24px;

  grid-column: span 4 / span 4;
}

.team__members__member__picture {
  height: 296px;
  min-height: 280px;
  width: 100%;
  object-fit: cover;
}

.team__members__member__info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.team__members__member__info__metadata {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.team__members__member__info__metadata__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
}

.team__members__member__info__metadata__designation {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #4338ca;
}

/* Input field styles */
.input__field {
  width: 100%;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 9px 13px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #171717;
  outline: none;
}

.input__field:focus {
  box-shadow:
    0px 0px 0px 1px #444ce7,
    0px 1px 2px rgba(16, 24, 40, 0.05),
    0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.input__field:placeholder {
  color: #737373;
}

.input__field--error {
  border: 1px solid #fca5a5;
}

.input__field--error:focus {
  box-shadow:
    0px 0px 0px 1px #d92d20,
    0px 0px 0px 4px rgba(217, 45, 32, 0.12);
}

.input__error {
  font-size: 14px;
  line-height: 20px;
  color: #d92d20;
  display: none;
}

.toast {
  z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 40px;
  display: none;
}

.toast__content {
  margin: 0 16px;
  display: flex;
  align-items: center;
  padding: 4px 10px 4px 4px;
  gap: 12px;

  border-radius: 2000px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.toast__content__badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;

  height: 24px;

  background: #ffffff;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 9999px;
}

.toast__content--error {
  color: #dc2626;
  background: #fef2f2;
}
.toast__content__badge--error {
  color: #991b1b;
}

.toast__content--success {
  background: #f0fdf4;
  color: #15803d;
}

/* Contact styles */
.contact-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
  grid-row-gap: 48px;

  padding: 48px 12px;
}

.contact-section__left,
.contact-section__right {
  grid-column: span 4 / span 4;
}

.contact-section__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.contact-section__left__header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 18px;
  line-height: 28px;
  color: #525252;
}

.contact-section__left__header__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #171717;
}

.contact-section__left__metadata {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-section__left__metadata__item {
  display: flex;
  gap: 12px;
  align-items: center;
  color: #525252;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.contact-section__left__metadata__item_icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 100%;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  color: #4338ca;
}

.link--contact {
  color: inherit;
  padding: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;
  height: 100%;
  padding: 15px;
}

.contact-form,
.confirmation {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.contact-form__fields,
.contact-form__fields__name-email {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.input--width {
  flex: 1 1 0%;
}

.input__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}

.input__error--contact {
  position: absolute;
  color: #d92d20;
  font-size: 14px;
  bottom: -24px;
  display: none;
}

.input__error--bottom {
  bottom: 0px;
}

.input__field--text-area {
  resize: none;
  height: 108px;
}

.input__char-count {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #737373;
}

.input__char-count--exceed {
  color: #d92d20;
}

.confirmation {
  display: none;
  flex-direction: column;
  height: 398px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 64px;
  width: 100%;
}

.confirmation__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.confirmation__content__icon {
  width: 64px;
  height: 64px;
  background: #ffffff;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation__content__message {
  font-size: 20px;
  line-height: 28px;
  color: #171717;
  text-align: center;
  padding: 0 14.5px;
}

.confirmation-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;

  width: 212px;
  height: 44px;

  background: #ffffff;
  border: 0.5px solid #e6e6e6;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #171717;
  cursor: pointer;
}

.button--width-send-message {
  width: 212px;
}

/* Footer styles */
.footer {
  padding: 48px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #171717;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}
.footer__content__items {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer__content__items a {
  text-decoration: none;
  outline: none;
  color: #525252;
  padding: 0 2px;
}
.footer__content__items--icons {
  gap: 24px;
}
.footer__content__items--icons a {
  padding: 0;
  color: #a3a3a3;
}
.footer__content__items a:hover {
  color: #171717;
}
.footer__content__items a:focus {
  color: #171717;
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
  border-radius: 4px;
}
.footer__content__items a:disabled {
  pointer-events: none;
  color: #a3a3a3;
}

.footer__content__items svg {
  display: block;
}

@media screen and (min-width: 768px) {
  .toast__content {
    width: max-content;
    margin: 0 auto;
  }
  .navbar {
    padding: 0 32px;
  }
  .content {
    box-shadow:
      0px 4px 6px -1px rgba(0, 0, 0, 0.1),
      0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  /* Hero section style */
  .hero {
    padding: 64px 16px;

    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-row-gap: 32px;
  }

  .hero__content,
  .hero__banner {
    grid-column: span 6 / span 6;
  }

  .hero__content {
    gap: 64px;
  }

  .hero__content__header {
    gap: 24px;
  }

  .hero__content__header__title {
    font-size: 48px;
    line-height: 48px;
  }

  .hero__content__header__subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .hero__content__actions {
    justify-content: flex-start;
    gap: 32px;
  }

  .button--size-xl-2xl {
    height: 60px;
    padding: 16px 24px;

    font-size: 18px;
    line-height: 28px;
  }
  .button--secondary.button--size-xl-2xl {
    padding: 15px 23px;
  }

  .hero__content__actions__btn {
    width: 213px;
    flex: none;
  }

  /* Stats Styles */
  .stats {
    padding: 64px 16px;
    gap: 64px;
  }

  .header__content__title {
    font-size: 48px;
    line-height: 48px;
  }

  .stats__wrapper {
    grid-row-gap: 64px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .stats__banner {
    height: 656px;
    grid-column: span 6 / span 6;
  }

  .stats__content {
    grid-column: span 6 / span 6;
    gap: 32px;
  }

  .stats__content__items {
    gap: 32px;
  }

  .stats__content__items__card__number {
    font-size: 48px;
    line-height: 48px;
  }

  /* Team styles */
  .team {
    padding: 64px 32px;
    gap: 64px;
  }

  .header__content_title {
    font-size: 48px;
    line-height: 48px;
  }

  .team__members {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding-right: 16px;
    grid-row-gap: 64px;
  }

  .team__members__member {
    grid-column: span 3 / span 3;
  }

  /* Contact Styles */
  .contact-section {
    padding: 64px 16px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-row-gap: 64px;
  }

  .contact-section__left,
  .contact-section__right {
    grid-column: span 6 / span 6;
  }

  .contact-section__left {
    gap: 48px;
  }

  .contact-section__left__header__title {
    font-size: 48px;
    line-height: 48px;
  }

  .contact-section__left__header {
    font-size: 20px;
    line-height: 28px;
  }

  .contact-form__fields__name-email {
    flex-direction: row;
    gap: 32px;
  }

  .confirmation,
  .contact-form {
    padding: 31px;
  }

  .confirmation__content__message {
    padding: 0 50px;
  }

  /* Footer styles */
  .footer {
    padding: 64px 16px;
  }

  .footer__content__items {
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    padding: 0;
    width: 100%;
    max-width: 1216px;
  }
  .navbar__content {
    display: flex;
  }
  .navbar__btn--open {
    display: none;
  }
  .navbar__content__links {
    gap: 32px;
    align-items: center;
    flex-direction: row;
  }
  .navbar__content__actions {
    flex-direction: row;
  }
  .button--navbar-learn {
    width: 125px;
  }
  .button--navbar-pricing {
    width: 121px;
  }
  .content {
    box-shadow:
      0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }

  /* Hero section styles */
  .hero {
    padding: 96px;

    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .hero__content {
    grid-column: span 5 / span 5;
  }

  .hero__banner {
    grid-column: span 7 / span 7;
  }

  .hero__content__header__title {
    font-size: 60px;
    line-height: 60px;
  }

  .hero__content__actions__btn {
    width: 175.5px;
    flex: none;
  }

  /* Stats styles */
  .stats {
    padding: 96px;
  }

  .header__content__title {
    font-size: 48px;
    line-height: 48px;
  }

  .stats__wrapper {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .stats__banner {
    height: 544px;
  }

  .stats__content__items__card__number {
    font-size: 48px;
    line-height: 48px;
  }

  /* Team styles */
  .team {
    padding: 96px;
  }

  .team__members {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-right: 0;
  }

  /* Contact Styles */
  .contact-section {
    padding: 96px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .contact-section__left__header__title {
    font-size: 60px;
    line-height: 60px;
  }

  .confirmation__content__message {
    padding: 0 103px;
  }

  /* Footer styles */
  .footer {
    padding: 96px 16px;
  }
}
