:root {
  --ifm-color-primary: #ffa700;
  --ifm-color-primary-dark: #e69600;
  --ifm-color-primary-darker: #d98e00;
  --ifm-color-primary-darkest: #b37500;
  --ifm-color-primary-light: #ffb01a;
  --ifm-color-primary-lighter: #ffb426;
  --ifm-color-primary-lightest: #ffc14d;

  --ifm-font-size-base: 18px;
}
