:root {
  --ifm-color-primary: #ffb322;
  --ifm-color-primary-dark: #ffa905;
  --ifm-color-primary-darker: #f6a100;
  --ifm-color-primary-darkest: #ca8500;
  --ifm-color-primary-light: #ffbd3f;
  --ifm-color-primary-lighter: #ffc24d;
  --ifm-color-primary-lightest: #ffd179;

  --ifm-font-size-base: 16px;
  --ifm-code-font-size: 0.8rem;
}
