:root {
  --ifm-color-primary: #d62b79;
  --ifm-color-primary-dark: #c2256d;
  --ifm-color-primary-darker: #b72367;
  --ifm-color-primary-darkest: #971d55;
  --ifm-color-primary-light: #da4187;
  --ifm-color-primary-lighter: #dc4b8d;
  --ifm-color-primary-lightest: #e26ca2;

  --ifm-font-size-base: 18px;
}

html[data-theme='dark'] {
  --ifm-color-primary: #ffa700;
  --ifm-color-primary-dark: #e69600;
  --ifm-color-primary-darker: #d98e00;
  --ifm-color-primary-darkest: #b37500;
  --ifm-color-primary-light: #ffb01a;
  --ifm-color-primary-lighter: #ffb426;
  --ifm-color-primary-lightest: #ffc14d;
}

@media screen and (max-width: 767px) {
  :root {
    --ifm-font-size-base: 16px;
  }

  .markdown h1 {
    --ifm-h1-font-size: 1.5rem;
  }

  .markdown h2 {
    --ifm-h2-font-size: 1.375rem;
  }

  .markdown h3 {
    --ifm-h3-font-size: 1.25rem;
  }
}

div[class^='announcementBar_'] {
  background-color: var(--ifm-color-primary);
  font-weight: bold;
}
