@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('./fonts/Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('./fonts/Inter-italic-latin.var.woff2') format('woff2');
}

:root {
  --ifm-color-primary: #d62b79;
  --ifm-color-primary-dark: #c2256d;
  --ifm-color-primary-darker: #b72367;
  --ifm-color-primary-darkest: #971d55;
  --ifm-color-primary-light: #da4187;
  --ifm-color-primary-lighter: #dc4b8d;
  --ifm-color-primary-lightest: #e26ca2;

  --ifm-font-family-base: 'Inter var', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  --ifm-footer-padding-vertical: 3rem;
}

html[data-theme='dark'] {
  --ifm-color-primary: #ffa700;
  --ifm-color-primary-dark: #e69600;
  --ifm-color-primary-darker: #d98e00;
  --ifm-color-primary-darkest: #b37500;
  --ifm-color-primary-light: #ffb01a;
  --ifm-color-primary-lighter: #ffb426;
  --ifm-color-primary-lightest: #ffc14d;

  --ifm-footer-padding-vertical: 3rem;
}

.footer__links {
  margin-bottom: 3rem;
}

.footer__copyright {
  text-align: start;
}

@media screen and (max-width: 767px) {
  :root {
    --ifm-font-size-base: 16px;
  }

  .markdown h1 {
    --ifm-h1-font-size: 1.5rem;
  }

  .markdown h2 {
    --ifm-h2-font-size: 1.375rem;
  }

  .markdown h3 {
    --ifm-h3-font-size: 1.25rem;
  }
}

div[class^='announcementBar_'] {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-emphasis-100);
  font-weight: bold;
}

.menu {
  font-size: 0.875rem;
}

.navbar__item.dropdown.dropdown--hoverable {
  flex-shrink: 0;
}

.navbar-icon:before {
  background-repeat: no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
  transition: all 300ms ease-in-out;
}

.navbar-icon:hover {
  opacity: 0.6;
}

.navbar-icon-github:before {
  background-image: url('/img/icons8-github.svg');
}

html[data-theme='dark'] .navbar-icon-github:before {
  background-image: url('/img/icons8-github-light.svg');
  height: 28px;
  width: 28px;
}

.navbar-icon-twitter:before {
  background-image: url('/img/icons8-twitter.svg');
}

html[data-theme='dark'] .navbar-icon-twitter:before {
  background-image: url('/img/icons8-twitter-light.svg');
}
.navbar-icon-facebook:before {
  background-image: url('/img/icons8-facebook.svg');
}

html[data-theme='dark'] .navbar-icon-facebook:before {
  background-image: url('/img/icons8-facebook-light.svg');
  height: 28px;
  width: 28px;
}

#carbonads * {
  margin: initial;
  padding: initial;
}
#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  display: flex;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  z-index: 100;
  margin: 1rem auto;
}
html[data-theme='dark'] #carbonads {
  background-color: hsl(0, 0%, 15%);
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.085), 0 0 2px hsl(0deg 0% 0% / 0.085),
    0 0 4px hsl(0deg 0% 0% / 0.085), 0 0 8px hsl(0deg 0% 0% / 0.085);
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
html[data-theme='dark'] #carbonads .carbon-poweredby {
  background: #1e2021;
}
