/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 200px;
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.testimonial-card {
  background: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 340px;

  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.testimonial-card__author {
  display: flex;
  gap: 16px;
  align-items: center;
}

.testimonial-card__author img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.testimonial-card__author__info {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.testimonial-card__author__info__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #171717;
}

.testimonial-card__author__info__username {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
