<form
  (ngSubmit)="onSubmit(mortgageForm.value)"
  #mortgageForm="ngForm"
  ngNativeValidate>
  <div>
    <label for="loanAmount">Loan Amount:</label>
    <input
      id="loanAmount"
      type="number"
      name="loanAmount"
      [ngModel]="1000"
      min="1"
      required />
  </div>
  <div>
    <label for="loanTerm">Loan Term (years):</label>
    <input
      id="loanTerm"
      type="number"
      name="loanTerm"
      [ngModel]="30"
      min="1"
      required />
  </div>
  <div>
    <label for="interestRate">Interest Rate (%):</label>
    <input
      id="interestRate"
      type="number"
      name="interestRate"
      [ngModel]="3"
      step="0.01"
      min="0.01"
      required />
  </div>
  <div>
    <button [disabled]="mortgageForm.invalid" type="submit">
      Calculate
    </button>
  </div>
</form>
