* {
  font-size: inherit;
}

body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  display: block;
}

.middle-row {
  display: flex;
  gap: 16px;
}

.users-list {
  width: 14em;
}

.buttons {
  display: flex;
  gap: 4px;
}
