@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  padding: 112px 0px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0a0ab2;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 343px;
  z-index: 1001;
}

/* Show the modal */
.modal.show {
  display: flex;
  opacity: 1;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 8px;
}

.modal__header h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #171717;
}

.modal__body {
  margin: 8px 0 32px 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #525252;
}

.modal__footer {
  display: flex;
  gap: 12px;
}

/* Button styles */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  background: none;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  width: 100%;
}
.button:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* Size classes */
.button--size-lg {
  height: 44px;
  column-gap: 8px;
  padding: 10px 16px;

  font-size: 16px;
  line-height: 24px;
}
.button--secondary.button--size-lg {
  padding: 9px 15px;
}

/* button variants */
.button--primary {
  background: #4338ca;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #ffffff;
}
.button--primary:hover,
.button--primary:focus {
  background: #3730a3;
}
.button--primary:disabled,
.button--secondary:disabled {
  background: #f5f5f5;
  box-shadow: none;
  color: #a3a3a3;
  pointer-events: none;
}

.button--secondary {
  border: 0.5px solid #e6e6e6;
  background: #ffffff;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #171717;
}
.button--secondary:hover,
.button--secondary:focus {
  background: #fafafa;
  border: 1px solid #e6e6e6;
  color: #0a0a0a;
}
.button--secondary:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.button_tertiary {
  color: #4338ca;
}
.button_tertiary:hover,
.button_tertiary:focus {
  background: #fafafa;
}
.button_tertiary:disabled,
.button--danger:disabled {
  background: none;
  box-shadow: none;
  color: #a3a3a3;
  pointer-events: none;
}

.button--danger {
  background: #dc2626;
  color: #ffffff;
}
.button--danger:hover,
.button--danger:focus {
  background: #b91c1c;
}
.button--danger:focus {
  box-shadow:
    0px 0px 0px 1px #d92d20,
    0px 0px 0px 4px rgba(217, 45, 32, 0.12);
}

.modal__close {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
