@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  min-height: 100vh;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  padding: 16px;
}

.navbar {
  height: 68px;
  max-width: 1216px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.navbar__logo {
  height: 32px;
  width: 163px;
}

.navbar__mobile__header__logo {
  height: 32px;
}

.navbar__btn--open,
.navbar__btn--close {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  background: none;
}
.navbar__btn--open svg,
.navbar__btn--close svg {
  display: block;
}
.navbar__btn--open:focus,
.navbar__btn--close:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.navbar__content {
  flex: 1;
  display: none;
  align-items: center;
  gap: 80px;
}

.navbar__content__links {
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex: 1;
}

.navbar__content__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  outline: none;
  color: #525252;
  font-weight: 500;
  text-decoration: none;
  padding: 0px 2px;
  line-height: 24px;
}
.link:hover {
  color: #171717;
}
.link:focus {
  color: #171717;
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
  border-radius: 4px;
}
.link:disabled {
  pointer-events: none;
  color: #a3a3a3;
}

.link--nav {
  font-size: 14px;
  line-height: 20px;
  color: #171717;
  padding: 8px 12px;
  width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  background: none;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}
.button:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* Size classes */
.button--size-lg {
  height: 44px;
  column-gap: 8px;
  padding: 10px 16px;

  font-size: 16px;
  line-height: 24px;
}
.button--secondary.button--size-lg {
  padding: 9px 15px;
}

/* button variants */
.button--primary {
  background: #4338ca;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #ffffff;
}
.button--primary:hover,
.button--primary:focus {
  background: #3730a3;
}
.button--primary:disabled,
.button--secondary:disabled {
  background: #f5f5f5;
  box-shadow: none;
  color: #a3a3a3;
  pointer-events: none;
}

.button--secondary {
  border: 0.5px solid #e6e6e6;
  background: #ffffff;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #171717;
}
.button--secondary:hover,
.button--secondary:focus {
  background: #fafafa;
  border: 1px solid #e6e6e6;
  color: #0a0a0a;
}
.button--secondary:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.button--navbar-learn,
.button--navbar-pricing {
  width: 100%;
}

#slideout-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1070;
  top: 0;
  bottom: 0;
  background-color: #fff;
  overflow-x: hidden;
  transform: translateX(calc(-100% - 16px));
  transition: transform 0.3s ease-in-out;
  padding: 32px 16px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}
#slideout-menu.open {
  transform: translateX(calc(0px - 16px));
}

.nav__mobile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__mobile__header__logo {
  height: 32px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    padding: 0;
  }
  .navbar__content {
    display: flex;
  }
  .navbar__btn--open {
    display: none;
  }
  .navbar__content__links {
    gap: 32px;
    align-items: center;
    flex-direction: row;
  }
  .navbar__content__actions {
    flex-direction: row;
  }
  .button----navbar-learn {
    width: 125px;
  }
  .button----navbar-pricing {
    width: 121px;
  }
}
