body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid__row {
  display: flex;
  flex-shrink: 0;
}

.grid__cell {
  --cell-size: 20px;

  height: var(--cell-size);
  width: var(--cell-size);
  border: 0;
  flex-shrink: 0;
  background-color: transparent;
}

.grid__row--even .grid__cell:nth-child(odd),
.grid__row--odd .grid__cell:nth-child(even) {
  background-color: #e9ecef;
}

.toolbar {
  display: flex;
  gap: 20px;
}

.toolbar .toolbar__mode {
  height: 36px;
  background-color: transparent;
  border: 2px solid black;
  font-size: 14px;
}

.toolbar .toolbar__mode--selected {
  background-color: black;
  color: white;
}

.toolbar .toolbar__color-picker {
  display: flex;
}

.toolbar .toolbar__color {
  --size: 20px;

  width: var(--size);
  height: var(--size);
  border: 2px solid transparent;
}

.toolbar .toolbar__color--selected {
  border: 2px solid black;
}
