.container {
  background-color: var(--ifm-color-primary-light);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-emphasis-0);
  display: block;
  margin: 0.5rem;
  padding: 1rem;
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.container:hover {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-emphasis-0);
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .container {
    display: none;
  }
}

.tagline {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.logo {
  width: 96px;
}
