.container {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--ifm-global-radius);
  color: #fff;
  display: block;
  opacity: 0.95;
  padding: 1rem;
  transition: opacity var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.backgroundPurple {
  background-image: linear-gradient(
    138deg,
    rgb(69, 104, 220),
    rgb(176, 106, 179)
  );
}

.backgroundRed {
  background-image: linear-gradient(39deg, rgb(188, 78, 156), rgb(248, 7, 89));
}

.backgroundOrange {
  background-image: linear-gradient(
    90deg,
    rgb(253, 200, 48),
    rgb(243, 115, 53)
  );
}

.container:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

.tagline {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.title {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}

.logo {
  width: 96px;
}
