:root {
  --navbar-height: 52px;
  --navbar-border: 1px;
  --banner-height: 56px; /* Sync height with GlobalBanner.tsx */
  --nav-top-offset: calc(
    var(--navbar-height) + var(--navbar-border) + var(--banner-height)
  );
}

/* Sync responsiveness with GlobalBanner.tsx */
@media (min-width: 640px) {
  :root {
    --banner-height: 32px;
  }
}

/* Sync data attribute with GlobalBannerDisplayScript.tsx */
html[data-global-banner-hidden='true'] {
  --banner-height: 0px;
}

/* Sync data attribute with GlobalBannerDisplayScript.tsx */
/* Sync classname with GlobalBanner.tsx */
html[data-global-banner-hidden='true'] .global-banner {
  display: none;
}
