@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font.css';
@import './themes.css';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .theme-bg-radial-glow {
    position: relative;
  }
  .theme-bg-radial-glow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 600px;
    background-position: top;
    background-size: cover;
    background-image: radial-gradient(
      78.57% 78.57% at 50.65% 0.84%,
      #e9d5ff 0%,
      #8383fd 0%,
      rgba(15, 23, 42, 0.0001) 100%
    );
    opacity: 0.5;
    z-index: -1;
    border-radius: inherit;
  }
}

[data-mode='dark'] {
  color-scheme: dark; /* Makes some default elements (e.g. scrollbar) dark */
}

.prose h5 {
  padding-top: 1rem;
}

.prose figcaption {
  font-size: 0.75em;
  text-align: center;
}

.blur-overlay {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}

@import './banner.css';
@import './fancy.css';
@import './scrollbar.css';
