:root {
  --banner-height: 24px;

  --navbar-height: 0px;
  --navbar-border: 0px;

  --global-sticky-height: calc(var(--navbar-height) + var(--banner-height));
}

@media (min-width: 1025px) {
  :root {
    --global-sticky-height: calc(
      var(--navbar-height) + var(--navbar-border) + var(--banner-height)
    );
  }
}

/* Sync data attribute with GlobalBannerDisplayScript.tsx */
html[data-global-banner-hidden='true'] {
  --banner-height: 0px;
}

/* Sync data attribute with GlobalBannerDisplayScript.tsx */
/* Sync classname with GlobalBanner.tsx */
html[data-global-banner-hidden='true'] .global-banner {
  display: none;
}
