:root,
[data-theme='interviews'] {
  /* We use HSL values so that transparency can be tweaked dynamically by Tailwind modifiers. */
  --brand-darkest: 71 49% 11%; /* #262b0f; */
  --brand-darker: 71 86% 69%; /* #dbf46e; */
  --brand-dark: 71 99% 72%; /* #e3fe6f; */
  --brand-default: 69 98% 74%; /* #ebfe7d; */
  --brand-light: 69 100% 79%; /* #efff94; */
  --brand-lighter: 69 100% 88%; /* #f6ffc0; */
  --brand-lightest: 69 98% 94%; /* #faffdf; */

  --brand-gradient-radial-light: #faffdf;
  --brand-gradient-radial-dark: #d3eb6a;
  --brand-gradient-radial-stop-color: #0f172a;

  --brand-gradient-hero-triangle-start: #8383fd;
  --brand-gradient-hero-triangle-stop: #6366f103;

  --brand-gradient-hero-arrow-start: #a855f7;
  --brand-gradient-hero-arrow-stop: #6366f103;

  --brand-gradient-linear-start: #a855f7;
  --brand-gradient-linear-stop: #6366f1;
}

[data-theme='projects'] {
  /* We use HSL values so that transparency can be tweaked dynamically by Tailwind modifiers. */
  --brand-darkest: 151 60% 9%; /* #092417; */
  --brand-darker: 150 60% 21%; /* #165737; */
  --brand-dark: 151 60% 46%; /* #2fbc78; */
  --brand-default: 151 64% 52%; /* #36d387; */
  --brand-light: 151 90% 60%; /* #3ff59d; */
  --brand-lighter: 151 100% 75%; /* #7effc1; */
  --brand-lightest: 151 100% 89%; /* #c9ffe5; */

  --brand-gradient-radial-light: #dbfbe1;
  --brand-gradient-radial-dark: #36d387;
  --brand-gradient-radial-stop-color: #f0f0f0;

  --brand-gradient-hero-triangle-start: #36d387;
  --brand-gradient-hero-triangle-stop: #36d38703;

  --brand-gradient-hero-arrow-start: #c6fdd0;
  --brand-gradient-hero-arrow-stop: #36d38703;

  --brand-gradient-linear-start: #c6fdd0;
  --brand-gradient-linear-stop: #36d387;
}

[data-color-scheme='dark'][data-theme='projects'] {
  --brand-gradient-radial-light: #c9ffe5;
  --brand-gradient-radial-dark: #2fbc78;
  --brand-gradient-radial-stop-color: #0f172a;
}
