@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

.container {
  min-height: 100vh;
  padding: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

.newsletter {
  background: linear-gradient(176.17deg, #f9fafb 0.94%, #edf0f3 316.54%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
  grid-row-gap: 16px;

  padding: 32px 12px;
}

.newsletter__wrapper,
.newsletter__banner {
  grid-column: span 4 / span 4;
}

.newsletter__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.newsletter__content__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #171717;
}

.newsletter__content__features {
  list-style: none;
  font-size: 18px;
  line-height: 28px;
  color: #525252;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.newsletter__content__features li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.newsletter__content__features li svg {
  flex-shrink: 0;
}

.newsletter__banner {
  height: 288px;
  width: 100%;
  object-fit: cover;
  padding-right: 8px;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter__form__content__message {
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.newsletter__form__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.newsletter__form__content__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.input__field {
  width: 100%;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 9px 13px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #171717;
  outline: none;
}

.input__field:focus {
  box-shadow:
    0px 0px 0px 1px #444ce7,
    0px 1px 2px rgba(16, 24, 40, 0.05),
    0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.input__field:placeholder {
  color: #737373;
}

.input__field--error {
  border: 1px solid #fca5a5;
}

.input__field--error:focus {
  box-shadow:
    0px 0px 0px 1px #d92d20,
    0px 0px 0px 4px rgba(217, 45, 32, 0.12);
}

.input__error {
  font-size: 14px;
  line-height: 20px;
  color: #d92d20;
  display: none;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  background: none;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  width: 100%;
}
.button:focus {
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

/* Size classes */
.button--size-md {
  height: 40px;
  padding: 10px 14px;

  font-size: 14px;
  line-height: 20px;
}

/* button variants */
.button--primary {
  background: #4338ca;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  color: #ffffff;
}
.button--primary:hover,
.button--primary:focus {
  background: #3730a3;
}
.button--primary:disabled {
  background: #f5f5f5;
  box-shadow: none;
  color: #a3a3a3;
  pointer-events: none;
}

.toast {
  z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 40px;
  display: none;
}

.toast__content {
  margin: 0 16px;
  display: flex;
  align-items: center;
  padding: 4px 10px 4px 4px;
  gap: 12px;

  border-radius: 2000px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.toast__content__badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;

  height: 24px;

  background: #ffffff;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 9999px;
}

.toast__content--error {
  color: #dc2626;
  background: #fef2f2;
}
.toast__content__badge--error {
  color: #991b1b;
}

.toast__content--success {
  background: #f0fdf4;
  color: #15803d;
}

@media screen and (min-width: 768px) {
  .newsletter {
    box-shadow:
      0px 4px 6px -1px rgba(0, 0, 0, 0.1),
      0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 64px 16px;
    grid-row-gap: 64px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .newsletter__wrapper,
  .newsletter__banner {
    grid-column: span 6 / span 6;
  }

  .newsletter__content {
    gap: 64px;
  }

  .newsletter__content__title {
    font-size: 48px;
    line-height: 48px;
  }

  .newsletter__banner {
    height: 608px;
    padding-right: 16px;
  }

  .newsletter__form {
    flex-direction: row;
  }

  .newsletter__form__content {
    gap: 16px;
  }

  .newsletter__form__content__input-wrapper {
    width: 334px;
  }
  .button--width-newsletter {
    width: 98px;
  }

  .toast__content {
    width: max-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter {
    box-shadow:
      0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 96px;
    align-items: center;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .newsletter__banner {
    padding-right: 0px;
  }
}
