body {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label + input {
  margin-left: 8px;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}
