body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #3d464d;
}

$nav-padding: 20px;
$nav-font-size: 28px;
$nav-height: 2 * $nav-padding + $nav-font-size;

header {
  top: 0;
  position: fixed;
  background-color: #fff;
  padding: $nav-padding 0;
  border-bottom: 1px solid #cecece;
  width: 100%;
  text-align: center;

  .title {
    margin: 0;
    font-size: $nav-font-size;
  }
}

.weather {
  margin-top: $nav-height;
  padding: 50px 20px;
}

ul,
li {
  list-style: none;
}

.weather-cards {
  padding-left: 0;
  margin: 0;
  text-align: center;

  li {
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    border: 1px solid #cecece;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 200px;
  }

  .card-country {
    color: #007ee5;
    font-size: 24px;
  }

  .card-temperature {
    font-size: 36px;
    margin: 40px;
  }

  .card-weather-row {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .card-image {
    vertical-align: bottom;
  }

  .card-weather {
    display: inline-block;
    font-size: 18px;
    margin-top: 12px;
    vertical-align: top;
  }

  .card-wind-speed {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
