@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

/* Custom animations and keyframes */
@keyframes navbar-menu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-navbar-menu {
  animation: navbar-menu 0.4s ease-out;
}

/* Custom z-index values */
.z-sticky {
  z-index: 1020;
}

.z-fixed {
  z-index: 1030;
}
