body {
  font-family: sans-serif;
}

.wrapper {
  align-items: center;
  display: flex;
}

.time {
  align-items: baseline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 16px;
  user-select: none;
}

.time-unit {
  font-size: 24px;
}

.time-number {
  font-size: 62px;
}

.time-number--small {
  font-size: 36px;
}
